* {
    margin: 0;
    padding: 0;
}
.body {
    color: #222;
    font-family: Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.w {
    width: 1800px;
    margin: auto;
}

.clearfix:before,.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
.header {
    height: 60px;
    /* background-color: aqua; */   
    margin: 30px auto;
}

.logo {
    float: left;
    height: 60px;
    width: 400px;
    background: url(images/logo.png) no-repeat;
    background-position-y: -3px;
    background-size: 35%;
    font-size: 23px;
    text-indent: 2em;
    font-weight: 400;
    line-height: 60px;
    text-align: center;
}

.nav {
    /* 没有给nav宽度，方便日后添加新标签 */
    float: left;
    margin-left: 80px;
}

.nav ul li {
    float: left;
    margin: 0 20px;
}

.nav ul li a {
    /* a转化为块级元素设置宽高，不指定宽度，用padding撑开盒子避免了文字不一样多带来的麻烦 */
    display: block;
    height: 60px;
    padding: 0 20px;
    line-height: 60px;
    font-size: 24px;
    color: #050505;
}

.nav ul li a:hover {
    border-bottom: 2px solid skyblue;
    color: skyblue;
}

.search {
    float: left;
    width: 550px;
    height: 60px;
    margin-left: 90px;
    /* background-color: red; */
}

.search input {
    /* 因为块级元素之间默认有空隙，所以使用float */
    float: left;
    width: 450px;
    height: 58px;
    border: 1px solid #00a4ff;
    border-right: 0;
    color: #bfbfbf;
    font-size: 18px;
    padding-left: 15px;
}

.search button {
    /* 因为块级元素之间默认有空隙，所以使用float */
    float: left;
    /* 注意这里button的width+input的width必须等于search的width，不然button会掉下去 */
    width: 84px;
    height: 60px;
    background-color: #0097e9c0;
    background-image: url(images/search.svg);
    background-repeat: no-repeat;
    background-size: 90px 170px;
    background-position-y: -10px;
    /* 手动去掉button边框 */
    border: 0;

}

.user {
    float: right;
    margin-right: 40px;
    line-height: 60px;
    font-size: 20px;
    color: #444;
}

.banner {
    height: 550px;
    background-color: rgba(59, 59, 59, 0.048);
}

.banner .w {
    height: 550px;
    background: url(images/background.jpg) no-repeat;
    background-position: 0 -80px;
}

.subnav {
    float: left;
    width: 250px;
    height: 450px;
    margin-top: 40px;
    background: rgba(0, 0, 0, 0.233);
}

.subnav ul li {
    height: 50px;
    padding: 0 20px;
    line-height: 50px;
}

.subnav ul li a {
    font-size: 18px;
    color: rgb(255, 245, 245);
}

.subnav ul li a:hover {
    color: #00a4ff;
}

.subnav ul li a span {
    float: right;
}

.course {
    float: right;
    height: 350px;
    width: 230px;
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.815);
}

/* 我的课程表 */
.course h2 {
    height: 50px;
    background-color: rgba(135, 207, 235, 0.815);
    text-align: center;
    line-height: 50px;
    font-size: 23px;
    color: rgb(255, 255, 255);
}

.course .bd {
    padding: 0 20px;
}

.course .bd ul li {
    height: 50px;
    padding: 12px 0;
    font-size: 16px;
    color: rgb(90, 89, 89);
    border-bottom: 1px solid rgb(163, 163, 163);
}

.course .bd a {
    color: rgb(44, 44, 44);
}

.course .bd ul a:hover {
    color: #00a4ff;
}

.course .more {
    height: 50px;
    margin-top: 10px;
    border: 1px solid #3787ff;
    text-align: center;
    line-height: 50px;
}

.course .more a {
    color: #3787ff;
    font-weight: 700;
}

.good {
    height: 80px;
    margin-top: 20px;
    box-shadow: 5px 5px 6px 4px rgba(0, 0, 0, .2);
    line-height: 80px;
}

.good h3 {
    float: left;
    margin-left: 40px;
    color: #0097e9;
}

.goods {
    float: left;
    margin-left: 30px;
}

.goods li {
    float: left;
}

.goods li a {
    color: #050505;
    border-left: 2px solid grey;
    padding: 0 30px;
}

.goods li a:hover {
    color: #10abff;
}
.good a {
    color: #10abff;
}

.mod {
    float: right;
    margin-right: 40px;
}

.box .box-hd {
    height: 50px;
    margin-top: 20px;
}

.box-hd h3 {
    float: left;
    font-size: 24px;
    color: rgb(66, 66, 66);
}

.box-hd a {
    float: right;
    font-size: 16px;
    color: #888888;
}

.box-bd ul li {
    float: left;
    height: 450px;
    width: 337px;
    /* background-color: pink; */
    margin: 0 0 20px 20px;
    box-shadow: 5px 5px 5px 4px rgba(0, 0, 0, .1);
}

.box-bd ul li img {
    width: 100%;
    height: 71%;
}

.box-bd ul li h4 {
    margin: 15px 15px 15px 30px;
    font-size: 23px;
    font-weight: 600;
    color: #333;
}

.box-bd .info {
    margin: 0 20px 0 30px;
    font-size: 18px;
    color: #999;
}

.box-bd .info span {
    color: coral;
}

.footer {
    height: 300px;
}

.footer .w {
    padding-top: 50px;
}

.copyright {
    float: left;
}

.links {
    float: right;
}

.copyright p {
    margin-top: 15px;
    font-size: 18px;
    color: #bfbfbf;
    margin: 15px 0 20px 0;
}

.copyright a {
    display: block;
    width: 120px;
    height: 40px;
    padding: 0 25px;
    line-height: 40px;
    text-align: center;
    font-size: 23px;
    color: #00a4ff;
    border: 2px solid #00a4ff;
}

.links {
    margin-top: 30px;
}
.links .col {
    display: inline-block;
    width: 250px;
    height: 200px;
}

.links .col span {
    display: block;
    margin-bottom: 15px;
    padding:0 15px;
    font: 18px;
    font-weight: 600px;
    color: #999;
}

.links .col a {
    display: inline-block;
    height: 20px;
    width: 200px;
    margin-bottom: 15px;
    padding:0 20px;
    font-size: 16px;
    color: #212121;
    transition: color 0.3s;
}
 
.links .col a:hover {
    color: #00a1d6;
}